/* BASE COLOR: #56887D */

body {
    background: #2B443F;
    color: #EFF4F3;
    font-family: Courier, monospace;
    font-size: 100%;
    line-height: 1.33em;
    margin: 1.33em auto;
    width: 720px;
}

h1 {
    text-align: center;
}

.cardchart {
    margin: auto;
}

.celtex {
    padding: 0.16em 1em;
    text-align: left;
}

.mono {
    font-family: Courier, monospace; 
}
