body {
    font-family: Courier, monospace;
    margin: 1.33em auto;
    width: 720px;
}

h1 {
    text-align: center;
}

.cardchart {
    margin: auto;
}

.celtex {
    padding: 0.16em 1em;
    text-align: left;
}

.mono {
    font-family: Courier, monospace; 
}
