body {
    font-family: Palatino, serif;
    margin: 1.33em auto;
    width: 720px;
}

h1 {
    text-align: center;
}

.celtex {
    padding: 0.16em 1em;
    text-align: left;
}

.mono {
    font-family: monospace;
}
